<!DOCTYPE html>
<html>
    <head>
        
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <title>
		Report
        </title>
    </head>
    <body>

        <div class="container">
            <img src="{{ url_for('static',filename='banner.png') }}" alt="Snow" style="width:100%;">
            <div class="centered">
                <h2>
                    Fill the dates for Lisbon Environment Report
                </h2></div>
        </div>
        <div class="content">
        
        <p>
            <center>
                <form action="/getreport" method="post">
         		    Initial Date:<br>
         		    <input type="date" id="fi" name="fi"><br>
         		    Final Date:<br>
         		    <input type="date" id="ff" name="ff"><br>
				    <input type="submit" value="Get Report">
                </form>
            </center>
        </p>    
    </div>   
   </body>
</html>